/*
html {
  font-size: 80%;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: inherit;
}
:root {
  background-color: white;
} */
/* .app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .calculator {
  height: 100%;
  width: 100%;
  box-shadow: 0 2rem 4rem;
} */
/* .result-screen {
  height: 19vh;
  font-size: 8rem;
  font-weight: 600;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculate-screen {
  height: 6vh;
  font-size: 2.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} */
/* .screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;
  color: black;
  background-color: pink;
} */
/* .keypadrow {
  height: 11vh;
  width: 100%;
  display: flex;
  color: white;
}
.keypad {
  height: 55vh;
  width: 100%;
}
.button {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: white;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.button:hover {
  color: lightblue;
  background-color: orange;
}
.button:active {
  transform: scale(0.95);
} */
